.header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background: #ffffffd2;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 3rem;
  height: 70px;
  max-width: 1400px;
  margin: 0 auto;
}
.menu_btn {
  display: none;
  cursor: pointer;
  justify-content: flex-start;
  width: 40px;
  height: 100%;
  align-items: center;
}
.menu_btn svg {
  width: 26px;
  height: 26px;
  color: #000000;
  fill: #000000;
}

.logo {
  height: 100%;
}
.logo_link {
  font-size: 2rem;
  letter-spacing: 1px;
  color: #2c3e50;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2px;
  font-weight: 900;
}
.logo_link svg{
  width: 28px;
  height: 28px;
}
.nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.nav_list {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}
.nav_list a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  font-weight: 600;
}
.nav_list a:hover {
  color: #f1356d;
}

@media only screen and (max-width: 1000px) {
  .nav,
  .nav_list {
    gap: 1.4rem;
  }
}
@media only screen and (max-width: 770px) {
  .header_wrapper {
    padding: 0.5rem 1rem;
  }
  .nav {
    display: none;
  }
  .menu_btn {
    display: flex;
  }
}
