.job_listing_page {
  background-color: #fff;
  padding: 0.5rem 0;
}

.listing_header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0 0rem;
}
.listing_title {
  color: #333;
  letter-spacing: 1px;
  font-size: 1rem;
  /* line-height: 1; */
}

.option_display {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 0.8rem;
  font-weight: 600;
  color: #005bb5;
}
.no_listing {
  color: #666;
  font-size: 0.9rem;
  font-weight: 600;
  margin: 3rem auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
@media only screen and (max-width: 888px){

}